.textContainier {
    background-color: rgb(255, 246, 234);
    border-radius: 1em;
    padding: .5em;
    text-align: center;
    margin: 2em 0;
    font-size: 2em;
}

.textContainier img {
    width: 100%;
    border-radius: 1em;
}